.poem-list {
  max-width: 32rem;
  max-height: 75vh;
  overflow-y: auto;
  
  // Optional: Style the scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
}

.poem-item {
  cursor: pointer;
  padding: 1rem;
  
  &:hover {
    background-color: #f5f5f5;
  }
}

.no-results {
  text-align: center;
  padding: 2rem;
  color: var(--gray-700);
} 